.form-control:focus {
    box-shadow: none;
    border-color: $active-color; 
    color: rgb(59,63,92);
    background-color: $white;
}

.form-select:focus {
    box-shadow: none;
    border-color: $active-color;
    color: #3b3f5c;
    background-color: $white;
}

.btn-link{
    color: #3b3f5c;
    background-color: $white;
}

.btn-iframe{
    background-color: $box_primary_color !important;
    box-shadow: none !important;
    border: none !important;
}